@if (userService.isLoggedIn) {
    <mat-sidenav-container class="h-100">
      <mat-sidenav class="p-2" style="width: 15%; background-color: #262626;" mode="side" opened>
        <mat-list role="list">
            <mat-list-item class="side-menu-item" role="listitem"><p  style="color: aliceblue;">Request Leave</p></mat-list-item>
            <mat-list-item  class="side-menu-item" role="listitem"><p style="color: aliceblue;">Leave Status</p></mat-list-item>
            <!-- <mat-list-item role="listitem">Item 3</mat-list-item> -->
          </mat-list>
      </mat-sidenav>
      <mat-sidenav-content style="background-color: #caf1f1" class="p-3">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
    </mat-sidenav-container>
  } @else {
    <router-outlet></router-outlet>
  }
